<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <title>Producto1_Web</title>
</head>

<body>
    <div class="Contenedor">
        <header id="encabezado">
            <img src="/img/logo_encabezado.png" alt="">
            <nav id="navbar">
                <a href="#Container_Inicio">Inicio</a>
                <a href="#Container_Acerca_De_Mi">Acerca De Mi</a>
                <a href="#Container_Hobbies">Hobbies</a>
                <a href="#Container_Objetivos">Objetivos</a>
                <a href="#Container_Aspiraciones">Aspiraciones</a>
            </nav>
        </header>
    
        <main id="principal">
    
            <section class="Section_container">
                <div id="Container_Inicio">
                    <h1>Bienvenido a Mi Página Personal</h1>
                    <img src="/img/imagen_inicio.avif" alt="">
                </div>
            </section>
    
            <section class="Section_container">
                <h2 class="title">Acerca De Mi</h2>
                <div id="Container_Acerca_De_Mi">
    
                    <img src="/img/img_stiven.png" alt="">
                    <p>
                        ¡Hola! Mi nombre es Kevin Stiven Chavez Castaño. Soy estudiante de Ingeniería de Sistemas en la
                        Universidad de la Amazonia,
                        ubicada en Florencia-Caquetá, Colombia. Tengo 25 años y soy originario de Florencia. Actualmente,
                        resido en el barrio El Timmy.
                        Mi pasión por la tecnología comenzó en la escuela, en la Institución Educativa Buinaima,
                        donde descubrí mi interés por estudiar Ingeniería en Sistemas.
    
                    </p>
                </div>
            </section>
    
            <section class="Section_container">
                <h2 class="title">Hobbies</h2>
                <div id="Container_Hobbies">
    
                    <div class="sub_container_hobbies">
                        <img src="/img/img_game.jpg" alt="">
                        <h2 class="titulo_hobbies">Jugar Videojuegos</h2>
                        <p class="texto hobbies">
                            Disfruto jugar videojuegos porque es una forma divertida de pasar el tiempo. Me gusta explorar
                            diferentes mundos que ofrecen estos juegos y enfrentar desafíos en cada uno de ellos.
                        </p>
                    </div>
    
                    <div class="sub_container_hobbies">
                        <img src="/img/img_anime.webp" alt="">
                        <h2 class="titulo_hobbies">Ver Animes</h2>
                        <p class="texto hobbies">
                            El anime es otro de mis pasatiempos. Me fascina la diversidad de historias, personajes y
                            estilos de animación que ofrecen. Ver animes es una forma de explorar la cultura japonesa.
                        </p>
                    </div>
    
                    <div class="sub_container_hobbies">
                        <img src="/img/img_micro.jpg" alt="">
                        <h2 class="titulo_hobbies">Jugar Microfútbol</h2>
                        <p class="texto hobbies">
                            El microfútbol es el deporte físico que disfruto jugar, es un deporte que combina habilidad,
                            velocidad y trabajo en equipo, lo que lo convierte en mi deporte favorito.
                        </p>
                    </div>
    
                </div>
            </section>
    
            <section class="Section_container">
                <h2 class="title">Objetivos</h2>
                <div id="Container_Objetivos">
                    <img src="/img/img_objetivo.jpg" alt="">
                    <p>
                        Mi objetivo principal es terminar la carrera en ingeniería en sistemas, adquirir las habilidades
                        necesarias y aplicar ese conocimiento para resolver problemas prácticos en el campo de la
                        tecnología
                    </p>
                </div>
            </section>
    
            <section class="Section_container">
                <h2 class="title">Aspiraciones</h2>
                <div id="Container_Aspiraciones">
                    <img src="/img/img_aspiracion.webp" alt="">
                    <p>
                        Aspiro a ejercer como ingeniero en sistemas, aplicando lo aprendido para desarrollar soluciones
                        tecnológicas innovadoras y contribuir de manera práctica en el área de la tecnología
                    </p>
                </div>
            </section>
    
        </main>
    
        <footer>
            <div id="Container_Footer">
                <p>Kevin Stiven Chavez Castaño</p>
                <p>Universidad de la Amazonia</p>
                <p>ke.chavez@udla.edu.co</p>
                <p>2024</p>
            </div>
        </footer>
    </div>
    
</body>

</html>