<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <title>Producto1_Web</title>
</head>

<body>
    <header id="encabezado">
        <img src="/img/logo_encabezado.png" alt="">
        <nav id="navbar">
            <a href="">Inicio</a>
            <a href="">Sobre Mi</a>
            <a href="">Hobbies</a>
            <a href="">Intereses</a>
            <a href="">Objetivos</a>
            <a href="">Aspiraciones</a>
        </nav>
    </header>

    <main id="principal">

        <section class="Section_container">
            <div class="Container_Inicio">

            </div>
        </section>

        <section class="Section_container">
            <div class="Container_Sobre Mi">

            </div>
        </section>

        <section class="Section_container">
            <div class="Container_Hobbies">

            </div>
        </section>

        <section class="Section_container">
            <div class="Container_Intereses">

            </div>
        </section>

        <section class="Section_container">
            <div class="Container_Objetivos">

            </div>
        </section>

        <section class="Section_container">
            <div class="Container_Aspiraciones">

            </div>
        </section>

    </main>

    <footer>
        <div id="Container_Footer">

        </div>
    </footer>

</body>

</html>